[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw.git
	branch = 3.3-stable
[submodule "lib/glad"]
	path = lib/glad
	url = https://github.com/Dav1dde/glad.git
[submodule "lib/glm"]
	path = lib/glm
	url = https://github.com/g-truc/glm.git
[submodule "lib/LibNerve"]
	path = lib/LibNerve
	url = https://github.com/fruityloops1/LibNerve.git
[submodule "lib/crunch"]
	path = lib/crunch
	url = https://github.com/Nebulaxin/crunch.git
[submodule "lib/SDL"]
	path = lib/SDL
	url = https://github.com/libsdl-org/SDL.git
	branch = release-2.28.x
